.toast-container {
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;

}

.toastify {
    width: 400px;
    color: white;
    /* border-radius: 20px; */
    position: relative;
}



.toastify::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: yellow;
    height: 10px;
    width: 100%;
    animation: rev 5s;
}

@keyframes rev {
    100% {
        width: 0;
    }
}